@blue: #4285f4;
@grey: #d6d6d6;
@dark: #333;
@light: #f8f8f8;
@white: #fff;

.calc-backdrop {
  display: none;
  position: fixed;
  background: @dark;
  background: rgba(0,0,0,0.8);
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2000;
}

#calc {
  position: relative;
  font-family: sans-serif;
  color: @dark;
  font-size: 14px;
  width: 750px;
  background: @white;
  margin: 100px auto;

  button {
    background: @light;
    border: 1px solid @grey;
    border-radius: 2px;

    height : 30px;
    padding: 5px 12px;

    &.calc-button-premium {
      background: @blue;
      border-color: darken(@blue, 10%);
      color: @light;
      font-weight: bold;
    }
  }

  padding: 15px;
  border: 1px solid @grey;
  box-shadow: 0 2px 4px @dark;

  .calc-close {
    display : block;
    position: absolute;

    top  : -15px;
    right: -15px;
    transform: rotate(45deg);

    border-radius: 50%;
    width        : 30px;
    height       : 30px;
    line-height  : 30px;

    text-align    : center;
    vertical-align: middle;

    background  : @blue;
    border-color: darken(@blue, 10%);
    color       : @light;
    font-weight : bold;

    cursor: default;
  }
}

.calc-floors-container {
}

.calc-floor {
  @height: 65px;

  position: relative;
  height: @height;
  margin-bottom: 5px;
  border-left: 3px solid @blue;

  &:hover,
  &:active {
    // background: lighten(@grey, 10%);
  }

  .calc-floor-block {
    display: inline-block;
    padding: 5px;
    height: 100%;
    vertical-align: top;

    &.calc-floor-number {
      width     : 50px;
      text-align: center;
      line-height: @height;
      vertical-align: middle;
      color: @dark;
      font-size: 32px;
      font-weight: bold;
    }

    &.calc-floor-area {
      width: 275px;
    }

    &.calc-floor-cost {
      width: 275px;
    }

    &.calc-floor-delete {
      // width: 100px;
    }

    .calc-floor-row {
      display      : block;
      margin-top   : 0;
      margin-bottom: 5px;
      min-height   : 20px;
    }

    .calc-floor-hint {
      display : inline-block;
      position: relative;
      float: right;

      border-radius: 50%;
      width        : 20px;
      height       : 20px;
      line-height  : 20px;

      text-align    : center;
      vertical-align: middle;

      background  : @blue;
      border-color: darken(@blue, 10%);
      color       : @light;
      font-weight : bold;

      cursor: default;


      &:hover:after {
        content: attr(data-hint);

        display : inline-block;
        position: absolute;
        z-index : 98;

        top : 25px;
        right: -25px;

        width  : 220px;
        padding: 5px 15px;

        background: @white;
        border    : 1px solid @grey;
        box-shadow: 0 2px 4px @grey;

        color: @dark;

        font-weight: normal;
        text-align : left;
      }
    }

    .calc-floor-input {
      background: @white;
      color     : @dark;

      border: 1px solid @grey;

      box-sizing: border-box;

      width  : 275px;
      height : 30px;
      padding: 5px 12px;
      margin : 0;

      &:active,
      &:focus {
        border: 1px solid @blue;
        outline: none;
      }

      option {
        background: @white;
        color     : @dark;
        padding: 5px;
      }
    }

  }
}

.calc-append-floor-container {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.calc-result-table {
  font-family: sans-serif;
  color: @dark;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;

  border-spacing: 0;
  border-collapse: collapse;



  * {
    box-sizing: border-box;
  }

  td {
    padding: 3px 5px;
    vertical-align: center;
    border-top: 1px solid @grey;
  }

  tr:first-child td {
    border-top: none;
  }

  .calc-result-row.result {
    font-weight: bold;
  }

  tr.main td {
    font-weight: bold;
  }

  tr.main.result td {
    font-size: 15px;
  }

  tr.item td.title {
    padding-left: 15px;
  }
}
