<link rel="stylesheet" type="text/css" href="styles.css?__inline=true">

<script type='template' id="calc-floor">
  <div>
    <div class="calc-floor-block calc-floor-number">
      <%= floor %>
    </div>

    <div class="calc-floor-block calc-floor-area">
      <div class="calc-floor-row">
        <span  class="calc-floor-title">Площадь</span>
      </div>
      <div class="calc-floor-row">
        <input class="calc-floor-input" name="areas[]" type="number" placeholder="Укажите площадь">
      </div>
    </div>

    <div class="calc-floor-block calc-floor-cost">
      <div class="calc-floor-row">
        <span  class="calc-floor-title">Ценовая категория</span>
        <span  class="calc-floor-hint" data-hint="В зависимости от ценовой категории меняется изготовитель коллекторов, трубы и фитингов">?</span>
      </div>
      <div class="calc-floor-row">
        <select class="calc-floor-input" name="classes[]" placeholder="Укажите ценовую категорию">
          <option value="standart">Стандарт</option>
          <option value="premium" >Премиум </option>
        </select>
      </div>
    </div>

    <div class="calc-floor-block calc-floor-delete">
      <div class="calc-floor-row"></div>
      <div class="calc-floor-row">
        <button class="calc-floor-button-remove" type="button">
          Удалить
        </button>
      </div>
    </div>
</script>

<script type='template' id="calc-result-row">
  <tr class="calc-result-row <%- cl || '' %>">
    <td class="title"><%= title %></td>
    <td class="count"><%= count.format(0, 3, '&nbsp;', ',') %></td>
    <td class="measure"><%= measure %></td>
  </tr>
</script>


<div id="calc-modal" class="calc-backdrop">
  <div id="calc">
    <span id='calc-close' class='calc-close'>+</span>

    <form id="calc-form">

      <div class="calc-floors-container">
        <div id="calc-floors"></div>

        <div class="calc-append-floor-container">
          <button id="calc-append-floor" class="calc-append-floor" type="button">Добавить этаж</button>
        </div>
      </div>

      <div id="calc-result" style="display: none;">
        <table class="calc-result-table"></table>
      </div>

      <button id="calc-append-calc" class="calc-button-premium" type="submit">Рассчитать</button>
    </form>
  </div>
</div>

<script src="main.js?__inline=true"></script>
